{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}"></script>
        <meta name="viewport" content="width=device-width, initail-scale=1.0">
        {% block head %}
        <title>Base</title>
        {% endblock %}
    </head>
    <body>
        <br>
        <div class="container">
            <!-- Static navbar -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <a class="navbar-brand" href="/">Giyeon Blog</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        {% if user.is_authenticated %}
                        <ul class="nav navbar-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Edit Profile</a></li>
                            <li><a href="#">Change Password</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Logout</a></li>
                        </ul>
                        {% else %}
                        <ul class="nav navbar-nav">
                            <li><a href="#">Reset Password</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                        {% endif %}
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>    
        </div> <!-- /container -->
                    
        {% block content %}
        {% endblock %}
    </body>

    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>

</html>